In [3]:
import pandas as pd
s=pd.Series([10,20,30,40],index=['a','b','c','d'])
s

a    10
b    20
c    30
d    40
dtype: int64

In [6]:
s=pd.Series([10,20,30,40])
s

0    10
1    20
2    30
3    40
dtype: int64

In [11]:
s=pd.Series([10,20,30,40],index=["d","b","a","c"])
s.index

Index(['d', 'b', 'a', 'c'], dtype='object')

In [13]:
s["d"]=6
s

d     6
b    20
a    30
c    40
dtype: int64

In [14]:
import numpy as np
np.exp(s)

d    4.034288e+02
b    4.851652e+08
a    1.068647e+13
c    2.353853e+17
dtype: float64

In [5]:
data={'Name':['aryan', 'debrato', 'raiyan'],'Age':[18, 19, 18],'Stream':["cce","cce","chem"]}
df=pd.DataFrame(data)
df

      Name  Age Stream
0    aryan   18    cce
1  debrato   19    cce
2   raiyan   18   chem

In [7]:
print(df)

      Name  Age Stream
0    aryan   18    cce
1  debrato   19    cce
2   raiyan   18   chem